<div class="login">
    <div class="container-sm">
        <div id="logo">
            <h1>Welcome back!</h1>
        </div>  
    </div>
    <div class="container-sm">
        <form method="POST" action="/auth/login">
            <div class="form-row">
                <div class="form-floating mb-3 col-md-12">
                    <label for="floatingInput">Username</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="floatingInput" 
                        placeholder="Username" 
                        name="username"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="form-floating mb-3 col-md-12">                    
                    <label for="floatingPassword">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="floatingPassword" 
                        placeholder="Password" 
                        name="password"
                    >
                </div> 
            </div>
            <div class="text-center">
                <input type="submit" class="btn landing-btn" value="Enter">
            </div>
            <div class="form-row">
                <p>New here?</p>
                <div class="form-group">
                    <a href="/auth/signup"> Sign up!</a>
                </div>
            </div>
        </form>
    </div>
</div>