<div class="signup">
    <div class="container-sm">
        <div id="logo">
            <h1>Let's grow together.</h1>
        </div>  
    </div>
    <div class="container-sm">
        <form method="POST" action="/auth/signup">
            <div class="form-row">
                <div class="form-floating mb-3 col-md-12">
                    <label for="floatingInput">Username</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="floatingInput" 
                        placeholder="Username" 
                        name="username"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="form-floating mb-3 col-md-12">                    
                    <label for="floatingPassword">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="floatingPassword" 
                        placeholder="Password" 
                        name="password"
                    >
                </div> 
            </div>
            <div class="form-row">
                <div class="form-floating mb-3 col-md-12">
                    <label for="floatingInput">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="floatingInput" 
                        placeholder="Email" 
                        name="email"
                    >
                </div>
            </div>
            <div class="text-center">
                <input type="submit" id="signupbtn" class="btn landing-btn" value="Sign Up">
            </div>
        </form>
    </div>
</div>
