<div class="container-md landing">
    <div class="container-sm landing-pic text-center">
        <img src="css/LandingPic.png" alt="landing-pic" class="img-fluid">
    </div>
    <div class="container">
        <div class="landing-text text-center">
            <h4 class="text-center">Know your plants. Manage your garden.</h4>
        </div>
    </div>
    <div class="text-center join-container">
        <a href="/auth/signup">
            <button type="button" class="btn landing-btn">Join</button>
        </a>
    </div>
</div>