body {
    font-family: 'Barlow', sans-serif;
    background-color: #096771;
    color: #B9D9EB
}
.logo-pic {
    width: 181px;
    height: 95px
}
#home-index {
    width: 50rem;
    height: 45rem;
    border: 1px solid rgb(253, 213, 213);
    border-radius: 15px;
    background-color: rgba(255, 253, 253, 0.459);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.219);
}
.welcome-user {
    width: 50rem;
    justify-content: left;
    padding: 10px;
}
#deletebtn {
    padding: 5px;
}
.navbar {
    background-color: #096771;
    padding: 50px 0px 0px 0px;
}
.nav-btn {
    border-color: #C8D692;
    color: #C8D692;
}
.login, .signup{
    margin: 10px auto;
    padding: 10px;
    color: #096771;
    background-color: #B9D9EB;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.219);
}
.signup {
    width: 30rem;
    height: 25rem;
}
.login {
    width: 30rem;
    height: 20rem;
}
.explore-container {
    padding: 3rem;
    width: 60%
}
.explore-form {
    padding: 1rem
}
.explore-input {
    background-color: #71150900;
    border: 1px solid #C8D692;
    border-radius: 4px;
    width: 15rem;
}
.explore-card {
    width: 60%;
    color: #096771;
    justify-content: center;
}
.explore-img {
    max-width: 75%;
    padding: 10px 0px 0px 0px;
}
.capitalize {
    text-transform: capitalize;
}
.user-garden {
    padding: 8rem 0px 0px 0px;
    width: 75%;
}
.garden-container {
    background-color: #3A2618;
    border: 1px solid #C8D692;
}
.plant-card {
    background-color: #B9D9EB;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.103);
    width: 18rem;
    padding: 1.5rem;
    margin: 1rem;
    border: 1px solid #3A2618;
}
.plant-img {
    width: 18rem;
}
.plant-title {
    font-size: 1.5rem;
    color:#3A2618
}
.plant-secondary {
    color: #96a364;
}
#title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: rgb(37, 13, 13);
}
.landing {
    max-width: 50%;
    align-items: center;
    padding: 100px 0px 0px 0px;
}
.landing-text {
    color: #FFFFFF;
    padding: .5rem;
}
.landing-btn-group{
    align-items: center;
    padding: .5rem;
}
.join-container {
    justify-content: right;
}
.landing-btn {
    border-color: #C8D692;
    background-color: #3A2618;
    color: #C8D692;
}
.landing-pic {
    margin: auto;
}
#landing-footer {
    margin: auto;
    justify-content: center;
    align-self: center;
}
#home {
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
}
#home-page {
    display: flex;
    flex-direction: column;
}
.welcome-user {
    order: 0;
    align-self: flex-start;
    margin: auto;
}